<div class="dialog">
  <div class="dialog__header">
    <ng-container>
      <div class="title">
        <h5>{{ "Add new admin" | translate }}</h5>
      </div>
    </ng-container>
  </div>
  <form [formGroup]="createNewUser">
    <div class="form-group">
      <label for="name">{{ "Name" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        [placeholder]="'Name' | translate"
      />
    </div>
    <div class="form-group">
      <label for="mobile">{{ "Email" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        formControlName="email"
        [placeholder]="'Email' | translate"
      />
    </div>
    <div class="form-group">
      <label for="mobile">{{ "Password" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="password"
        formControlName="password"
        [placeholder]="'Password' | translate"
      />
    </div>
    <div class="form-group">
      <label for="mobile">{{ "Password Confirmation" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="Confirmation"
        formControlName="password_confirm"
        [placeholder]="'Password Confirmation' | translate"
      />
    </div>
  </form>
</div>
<app-open-dialog-button
  [loading]="loading"
  isDisabled="no"
  (isClicked)="onSubmit()"
  name="{{ 'save' | translate }}"
></app-open-dialog-button>
