@import "../../../assets/scss/now-ui-dashboard/variables";

.image__container {
  margin: 30px 0px;
}
input[type="file"] {
  visibility: hidden;
}

.before__upload__container {
  width: 124px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}
.title-config {
  margin: 2rem auto;
  padding: 0.8rem;
  border-radius: 5px;
  background: $secondary-color;
  h6 {
    margin-bottom: 0;
  }
}
.form-group {
  label {
    font-weight: 400;
  }
}
.divider {
  margin: 30px 0;
}
